*{
    padding: 0px;
    margin:0px;
}
 
.home-section{
   background: url(gif.gif);
   text-align: center;
   height : 400px
}

.image{
    padding-top:15px;
    border-radius:250px;
}

h3{
    color:white;
    font-size:25px;
    font-family:'Times New Roman', Times, serif;
}

#about-section{
    text-align:center;
}
h2{
    margin-top: 20px
    
}
hr{
    width: 100px;
    margin-left:46%;
    border: 2px solid black;
}



